<IfModule mod_rewrite.c>
Options +FollowSymLinks
RewriteEngine On

<Files .env>
    order allow,deny
    Deny from allow
    
</Files>
# Block access to dot file
location ~ /. {
    deny  all;
}

RewriteCond %{REQUEST_URI} !^/public/ 
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ /public/$1 
#RewriteRule ^ index.php [L]
RewriteRule ^(/)?$ public/index.php [L] 
</IfModule>
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^alesayiholding\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.alesayiholding\.com$
RewriteRule ^(.*)$ "https\:\/\/alesayiholding\.com\/$1" [R=301,L]

